body {
	background-color: #eaeaff;
	color: #00002f;
	font-family: monospace;
	font-size: 15px;
}

input {
	background-color: lightblue;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.number {
	font-weight: bold;
	text-align: right;
}

.stat-box {
	background-color: #e2e2ff;
	font-size: 12px;
	padding: 2px;
}

#canvas-box, #score-list-box {
	position: absolute;
	top: 5px;
}

#circle-canvas {
	background-color: lightblue;
}

#circle-population {
	width: 3em;
}

#save-data-box {
	width: 50em;
}

#save-data {
	font-size: 8px;
	word-wrap: break-word;
}

#score-list {
	width: 7em;
}

#score-list-box {
	left: 1010px;
	text-align: center;
}
