body {
	background-color: #eaeaff;
	color: #00002f;
	font-family: monospace;
	font-size: 15px;
}

input {
	width: 50px;
	background-color: lightblue;
}

.number {
	font-weight: bold;
	text-align: right;
}

#circle-canvas {
	background-color: lightblue;
}

#canvas-box, #score-list-box {
	position: absolute;
	top: 5px;
}

#score-list {
	width: 7em;
}

#score-list-box {
	background-color: #e2e2ff;
	font-size: 12px;
	left: 1010px;
	padding: 2px;
	text-align: center;
}
